# Setting Dataset Module

### Import the data and save into repository

In [ ]:
# import neccesary libraries

import pandas as pd

In [7]:
# read iris data and save it as the DataFrame

df = pd.read_csv("../data/iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

### Import the data from URL

In [21]:
pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from opendatasets) (1.7.4.2)
Requirement already satisfied: click in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from opendatasets) (8.1.8)
Requirement already satisfied: colorama in c:\users\jihit\appdata\roaming\python\python313\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: bleach in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (2025.1.31)
Requirement already satisfied: charset-normalizer in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (3.4.1)
Requirement already satisfied: idna in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (3.10)
Requirement already satisfied: protobuf in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (6.30.1)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\users\jihit\appdata\roaming\python\python313\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (77.0.3)
Requirement already satisfied: six>=1.10 in c:\users\jihit\appdata\roaming\python\python313\site-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (2.3.0)
Requirement already satisfied: webencodings in c:\users\jihit\appdata\local\programs\python\python313\lib\site-packages (from kaggle->opendatasets) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install legacy-cgi

Collecting legacy-cgi
  Downloading legacy_cgi-2.6.2-py3-none-any.whl.metadata (1.9 kB)
Downloading legacy_cgi-2.6.2-py3-none-any.whl (19 kB)
Installing collected packages: legacy-cgi
Successfully installed legacy-cgi-2.6.2
Note: you may need to restart the kernel to use updated packages.

In [20]:
import pandas as pd
import os
import opendatasets as od

In [22]:
url = "https://www.kaggle.com/datasets/l3llff/banana?select=banana_quality.csv"

In [25]:
od.download(url)

Skipping, found downloaded files in ".\banana" (use force=True to force download)

In [30]:
df = pd.read_csv("../data/banana_quality.csv")
df.head()

,Size,Weight,Sweetness,Softness,HarvestTime,Ripeness,Acidity,Quality
0,-1.924968,0.468078,3.077832,-1.472177,0.294799,2.435570,0.271290,Good
1,-2.409751,0.486870,0.346921,-2.495099,-0.892213,2.067549,0.307325,Good
2,-0.357607,1.483176,1.568452,-2.645145,-0.647267,3.090643,1.427322,Good
3,-0.868524,1.566201,1.889605,-1.273761,-1.006278,1.873001,0.477862,Good
4,0.651825,1.319199,-0.022459,-1.209709,-1.430692,1.078345,2.812442,Good

### Read the data directly from the URL

In [32]:
df = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa